/*sidd styling*/
	.sidd-menu{
		padding:20px;
		position:absolute;
		background:rgba(0,0,0,0.8);
		color:whitesmoke;
		text-shadow:0px 1px 2px black;
		-webkit-box-shadow:0px 5px 10px rgba(0,0,0,.5);
		-webkit-border-radius:10px;
		-moz-box-shadow:0px 5px 10px rgba(0,0,0,.5);
		-moz-border-radius:10px;
		border:1px solid rgba(0,0,0,.7);
		z-index:1000;
		font-weight:bold;		
	}

	.sidd-menu::before{
		display:block;
		position:absolute;
		z-index:1;
		top:-20px;
		left:10px;
		border-style:solid;
		border-width:10px;
		border-color: transparent transparent rgba(0,0,0,.8) transparent;
		content:' ';
	}

	.sidd-menu h1{
		font-size:1.2em;
		padding:10px 0px;
	}
	.sidd-menu h1:first-child{
		padding-top:0px;
	}
	.sidd-menu p a{
		padding-left:10px;
		color :inherit;
		text-decoration:none;
	}
	
	